{% extends 'base.html' %}
{% load static %}



{% block content %}


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="  col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" >Grow your business with PIXEL MOTION WORK </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are a team of creative and talented professionals.</h2>
              <div data-aos="fade-up" data-aos-delay="800" class="aos-init aos-animate">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
              </div>
                </div>


          <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate  justify-content-center" data-aos="fade-left" data-aos-delay="200">
              <img src="{% static 'img/gif.gif' %}" style="width:150px;height:450px;margin:0px 200px"  alt="">
                <!-- <iframe src="https://player.vimeo.com/video/276808805?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:150%;height:150%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                  <script src="https://player.vimeo.com/api/player.js"></script> -->

        </div>
      </div>

    </section>

<!-- End Hero -->

      <!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 >Services</h2>
      <hr>
      <p>Our professionel services</p>
    </div>

    <div class="row">

      {% for s in service %}
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <!-- <div id="ic1"  class="icon"><img src="{% static 'img/logo2.png' %}"  alt=""></i></div> -->

          <div class="icon"><i class="fas fa-laptop"></i></div>
          <h4 class="title"><a href="">{{s.title}}</a></h4>
          <p class="description">{{s.description}}</p>
        </div>
      </div>
      {% endfor %}



    </div>

  </div>
</section>

<!-- End Services Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <hr>
          <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
        </div>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          {% for p in portfolio %}
          <div class="col-lg-6 col-md-12 portfolio-item filter-app">
                  <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src={{p.videolink}} style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                    </iframe>
                  </div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
            {% endfor %}


            </div>

              </div>

          </section>

<!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <hr>
          <p>Our Professional Team</p>
        </div>

        <div class="row">

          {% for t in team %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{t.img.url}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""}><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{t.name}}</h4>
                <span>{{t.description}}</span>
              </div>
            </div>
          </div>

          {% endfor %}
              </div>
            </div>

    </section><!-- End Team Section -->
    <!-- <div class="lp-imageAndText-image">
    <img class="data-save-true" src="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2_fallback.jpg" alt="" style="display: none;">
    <video class="data-save-false" poster="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2_poster.jpg" playsinline="" autoplay="" loop="" muted="">
    <source src="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2.mp4" type="video/mp4"> <source src="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2.webm" type="video/webm"> </video>
    </div> -->
      <!-- ======= Pricing Section"https://player.vimeo.com/video/397726088?title=0&byline=0&portrait=0" st ======= -->
<section id="pricing" class="pricing section-bg ">
  <div class="container">

    <div class="section-title">
      <h2>Pricing</h2>
      <hr>
      <p>Our woderful Pricing</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        {% for b in basic %}
        <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
          <h3>{{b.title}}</h3>
          <h4><sup>$</sup>{{b.price}}<span></span></h4>
          <ul>
            <li>{{b.deliverabels1}}</li>
            <li>{{b.deliverabels2}}</li>
            <li>{{b.deliverabels3}}</li>
            <li class="na">{{b.deliverabels4}}</li>
            <li class="na">{{b.deliverabels5}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        {% for s in standard %}
        <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
          <h3>{{s.title}}</h3>
          <h4><sup>$</sup>{{s.price}}<span></span></h4>
          <ul>
            <li>{{s.deliverabels1}}</li>
            <li>{{s.deliverabels2}}</li>
            <li>{{s.deliverabels3}}</li>
            <li>{{s.deliverabels4}}</li>
            <li class="na">{{s.deliverabels5}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 ">
        {% for p in premium %}
        <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
          <h3>{{p.title}}</h3>
          <h4><sup>$</sup>{{p.price}}<span></span></h4>
          <ul>
            <li>{{p.deliverabels1}}</li>
            <li>{{p.deliverabels2}}</li>
            <li>{{p.deliverabels3}}</li>
            <li>{{p.deliverabels4}}</li>
            <li>{{p.deliverabels5}}</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->


{% endblock %}
