{% extends 'base.html' %}
{% load static %}



{% block content %}


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="  col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" >Grow your business with PIXEL MOTION WORK </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are a team of creative and talented professionals.</h2>
              <div data-aos="fade-up" data-aos-delay="800" class="aos-init aos-animate">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
              </div>
                </div>


          <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate  justify-content-center" data-aos="fade-left" data-aos-delay="200">

                <iframe src="https://player.vimeo.com/video/276808805?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:150%;height:150%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                  <script src="https://player.vimeo.com/api/player.js"></script>

        </div>
      </div>

    </section>

<!-- End Hero -->

      <!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2 >Services</h2>
      <hr>
      <p>Our professionel services</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-laptop"></i></div>
          <h4 class="title"><a href="">Custom Logo Animation</a></h4>
          <p class="description">Give your brand logo custom movement. So, it can tell a story.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-laptop"></i></div>
          <h4 class="title"><a href="">3D Product Animation</a></h4>
          <p class="description">3D visualization of your product will be helpful to effectively contact your customers.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-laptop"></i></div>
          <h4 class="title"><a href="">Motion Graphics</a></h4>
          <p class="description">Tell your story through 2d animation, storyboard, parallax, product introduction, etc..</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-laptop"></i></div>
          <h4 class="title"><a href="">  Lyrical Video  </a></h4>
          <p class="description">Create stunning lyrical videos to promote your single. </p>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- End Services Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <hr>
          <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
          <!-- <img src="static/img/banner1.jpg" alt=""> -->

          <div class="col-lg-6 col-md-12 portfolio-item filter-app">

            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397726088?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            <!-- <p><a href="https://vimeo.com/397726088">Revolution chess</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
                </div>

                <div class="col-lg-6 col-md-12 portfolio-item filter-app">

                  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397726070?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                  <!-- <p><a href="https://vimeo.com/397726070">LBX</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
                      </div>

              <div class="col-lg-6 col-md-12 portfolio-item filter-app">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/321464842?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                  <!-- <p><a href="https://vimeo.com/321464842">basterds.mp4</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
                  </div>
                  <div class="col-lg-6 col-md-12 portfolio-item filter-app">



                  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397726033?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    <!-- <p><a href="https://vimeo.com/397726033">evan luputra</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
              </div>

              </div>

          </section>

<!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <hr>
          <p>Our Professional Team</p>
        </div>

        <div class="row">
          {% for t in team %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{t.img.url}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""}><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{t.name}}</h4>
                <span>{{t.description}}</span>
              </div>
            </div>
          </div>

          {% endfor %}

          <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/Suren.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Suren Rajah</h4>
                <!-- <span>Product Manager</span> -->
              </div>
            </div>
          </div>
<!--
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/mathu.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pirahanthan</h4>
                <!-- <span>CTO</span> -->
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'img/Thasi.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Thasi Rock</h4>
                <!-- <span>Accountant</span> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->
    <!-- <div class="lp-imageAndText-image">
    <img class="data-save-true" src="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2_fallback.jpg" alt="" style="display: none;">
    <video class="data-save-false" poster="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2_poster.jpg" playsinline="" autoplay="" loop="" muted="">
    <source src="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2.mp4" type="video/mp4"> <source src="https://lp.cdnpromo.com/wp-content/uploads/2019/01/GIF2.webm" type="video/webm"> </video>
    </div> -->
      <!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg ">
  <div class="container">

    <div class="section-title">
      <h2>Pricing</h2>
      <hr>
      <p>Our woderful Pricing</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
          <h3>Basic</h3>
          <h4><sup>$</sup>95<span></span></h4>
          <ul>
            <li>2D Clean logo animation</li>
            <li>1080p HD</li>
            <li>Baground Music</li>
            <li class="na"></li>
            <li class="na"></li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
          <h3>Standard</h3>
          <h4><sup>$</sup>165<span></span></h4>
          <ul>
            <li>Eye catching animation</li>
            <li>Extra elements and effects</li>
            <li>1080p HD </li>
            <li>Background  music</li>
            <li class="na"></li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 ">
        <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
          <h3>Premium</h3>
          <h4><sup>$</sup>295<span></span></h4>
          <ul>
            <li>Complex Character animation</li>
            <li>Extra elements and effects</li>
            <li>1080p</li>
            <li>Sound Effects</li>
            <li>Background Music</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->


{% endblock %}
