{% extends 'base.html' %}
{% load static %}



{% block content %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <hr>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
      <!-- <img src="static/img/banner1.jpg" alt=""> -->

      <div class="col-lg-3 col-md-6 portfolio-item filter-app">

        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397726088?loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <!-- <p><a href="https://vimeo.com/397726088">revolution chess</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">

              <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397726070?loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              <!-- <p><a href="https://vimeo.com/397726070">LBX</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
                  </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/321464842?loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            <!-- <p><a href="https://vimeo.com/321464842">basterds.mp4</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
              </div>
              <div class="col-lg-3 col-md-6 portfolio-item filter-app">



              <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397726033?loop=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<!-- <p><a href="https://vimeo.com/397726033">evan luputra</a> from <a href="https://vimeo.com/animationcraft">Animation_Craft</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
          </div>

          </div>

      </section>

<!-- End Portfolio Section -->

<!--
<a href="javascript:void(0)" id="video-trigger">Open</a>
<div id="vidBox">
  <div id="videCont">
    <div id="yt_video">
      <video autoplay loop muted playsinline id="demo" width="600" height="300">
        <source src="{% static 'img\Logo_gif.webm' %}"
                type='video/webm;codecs="vp8, vorbis"' />
      </video>
    </div>
  </div>
</div>



 -->_




<!-- <video src="{% static 'img\Logo_Gif.webm' % }" autoplay poster="posterimage.jpg"> -->




{% endblock %}
